each arr in arrayBlock
  tr
    td(class='marker' data-id=arr[0])
      span(data-id=arr[0] class='icon')
        i(class='icon-angle-right')
    td(class='block')
      a(data-id=arr[0])= arr[0]
    td(class='datetime')= arr[1]
  tr
    td(data-id=arr[0] class='data is-hidden' colspan='3')

